{# Copyright (c) 2008 PayNow (Pty) Ltd #}
{# You (being anyone who is not PayNow (Pty) Ltd) may download and use this plugin / code in your own website in conjunction with a registered and active PayNow account. If your PayNow account is terminated for any reason, you may not use this plugin / code or part thereof. #}
{# Except as expressly indicated in this licence, you may not use, copy, modify or distribute this plugin / code or part thereof in any way. #}

<form action="{{ action }}" method="post">

	{% for key, val in payvars %}
      <input type='hidden' name='{{ key }}' value="{{ val }}" />
  {% endfor %}

  <input type="hidden" name="signature" value="{{ signature }}">

  <div class="buttons">
    <div class="pull-right">
      <input type="submit" value="{{ button_confirm }}" class="btn btn-primary">
    </div>
  </div>
</form>
